# List Zabbix credentials here, in the following format
#
# instance_name:
#   url: location of zabbix api
#   user: self-explanatory
#   password: self-explanatory

zabbix:
  url: "http://localhost/api_jsonrpc.php"
  user: Admin
  password: zabbix